Repository Gar1k1/GitLab-Helm-k8s-Yandex-Cloud: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-auth, build-gateway

build-auth:
  stage: build
  script:
  - docker build -t $REGISTRY/auth-service:$IMAGE_TAG piggymetrics-k8s/auth-service
  - docker tag $REGISTRY/auth-service:$IMAGE_TAG $REGISTRY/auth-service:latest

build-gateway:
  stage: build
  script:
  - docker build -t $REGISTRY/gateway:$IMAGE_TAG piggymetrics-k8s/gateway
  - docker tag $REGISTRY/gateway:$IMAGE_TAG $REGISTRY/gateway:latest

Delete Dockerfile
  piggymetrics-k8s/auth-service/Dockerfile
Due: build-auth

Delete package.json
  piggymetrics-k8s/auth-service/package.json
Due: build-auth

Edit Dockerfile
  piggymetrics-k8s/gateway/Dockerfile
Due: build-gateway

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Delete deployment.yaml
  helm/auth-service/templates/deployment.yaml
Due: none

Delete ingress.yaml
  helm/auth-service/templates/ingress.yaml
Due: none

Delete service.yaml
  helm/auth-service/templates/service.yaml
Due: none

Delete Chart.yaml
  helm/auth-service/Chart.yaml
Due: none

Delete values.yaml
  helm/auth-service/values.yaml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add target folder for gateway
  piggymetrics-k8s/gateway/target/gateway-1.0-SNAPSHOT.jar
  piggymetrics-k8s/gateway/target/maven-archiver/pom.properties
Due: none

Update helm2 ingress and values, remove helm3 gateway values
  helm3/values.yaml
  piggymetrics-k8s/helm2/templates/ingress.yaml
  piggymetrics-k8s/helm2/values.yaml
Due: none

first commit
  README.md
Due: none

Update Dockerfile
  piggymetrics-k8s/gateway/Dockerfile
Due: build-gateway

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Path conditions:
  build-auth: any of: piggymetrics-k8s/auth-service/**
  build-gateway: any of: piggymetrics-k8s/gateway/**
